//_contact.scss

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');


/* COLORS */

$grey:#EBEBEB;
$blue: #4B5E7B;
$orange: #FA9448;
$yellow: #FFE867;
$red: #D55A4F;

/* FONTS */
$font: 'Montserrat', sans-serif;


.rodebanner{
    background-color: $red;
    padding-bottom: 0;
    img{
        width: 90%;
        margin-top: 60px;
        @media (min-width: 1250px) {
        margin-top: 130px;
        width: 80%;
            }
    }

    .tekst{
        h5{
            color: white;
            font-size: 30px;
            font:$font;
            margin-top: 35px;
            font-weight: 800;
            padding: 20px;

        }

        p{
            color: white;
            margin-bottom: 20px;
            padding: 20px;
            padding-top:0;
        }
    }
}

.contactgegevens{
    margin-top: 30px;
    margin-left: 40px;
    .contact{
        i{
            font-size: 25px;
        }
    }

    a{ 
        color: black;
    }
}


/*FOOTER*/

.footercontact{
    margin-top: 50px;
    @media(min-width: 768px){
        margin-top: -220px;
    }
}




/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {

    .rodebanner{
        background-color: $red;
        padding-bottom: 0;
        height: 450px;
        position: relative;
    
    
        .tekst{
            
            position: absolute;
            right: 5%;

            @media (min-width: 1300px) {
                top: 15%;
            }
            h5{
                text-align: right;
                padding-bottom:0;
                
            }
            p{
                margin-left: 30px;
                text-align: right; 
                padding-top: 0;
                
            }
        }
    }
    
    .contactgegevens{
        margin-top: 80px;
        margin-left: 40px;
        .contact{
            i{
                font-size: 25px;
            }
        }
    }

}